
@font-face {
    font-family: 'UberMove';
    src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Light.woff2')
        format('woff2'),
      url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Light.woff')
        format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'UberMove';
    src: url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Regular.woff2')
        format('woff2'),
      url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'UberMove';
    src: url('/font/UberMoveMedium.otf')
        format('otf'),
      url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Medium.woff')
        format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'UberMove';
    src: url('/font/UberMoveBold.otf')
        format('otf'),
      url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMove-Bold.woff')
        format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'UberMoveText';
    src: url('/font/UberMoveTextLight.otf')
        format('otf'),
      url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Light.woff')
        format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'UberMoveText';
    src: url('/font/UberMoveTextRegular.otf')
        format('otf'),
      url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'UberMoveText';
    src: url('/font/UberMoveTextMedium.otf')
        format('otf'),
      url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Medium.woff')
        format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'UberMoveText';
    src: url('/font/UberMoveTextBold.otf')
        format('otf'),
      url('https://d1a3f4spazzrp4.cloudfront.net/dotcom-assets/fonts/UberMoveText-Bold.woff')
        format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }


*{
    margin: 0;
    padding: 0;
    font-family: 'UberMoveText';
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.wrapper{
    width:90%;
    margin:0 auto;
    max-width:1500px
}
#start header{
    display: flex;
    padding:18px 90px;
    background-color: black;
}
#start a.heading{
    width:15%;
    cursor: pointer;
}
#start a img{
    width:100%;
    display: block;
    
}

#start nav.middle ul {
    display:flex;
    color:#ffffff;
}
#start nav.middle ul li{
    position: relative;
    padding: 10px;
}
#start nav.middle ul li a{
    font-size: 16px;
    font-family: 'UberMoveText';
    font-weight: 500;
    color: #fff;
    display: flex;
    white-space: nowrap;
}

#start nav.middle ul li:hover{
    border-radius: 20px;
    background-color:rgb(68, 68, 68);
    cursor: pointer;
}
#start nav.middle ul li:last-child{
    margin-right:60px;
}
#start nav.middle ul li i{
    margin-left: 10px;
}
#start nav.middle ul li .content {
    position: absolute;
    color: #000;
    background-color: #fff;
    padding: 50px 70px;
    display: none;
    top: 50px; 
    width:1000px;
    gap:20px;
    border-radius: 0 0 10px 10px;
}
#start nav.middle ul .dropdown.active + .content{
    display: flex;  
} 

#start nav.middle ul li .content .left{
    display: block;
    width:35%;
}
#start nav.middle ul li .content .right{
    display: block;
    width:65%;
}
#start nav.middle ul li .content .up{
    display: flex;
   
}
#start nav.middle ul li .content .up .image{
    width:25px;
    margin-right: 5px;
    padding: 5px;
}
#start nav.middle ul li .content .up img{
    width: 100%;
    display: block;
}
#start nav.middle ul li .content span{
    font-size: 25px;
    font-weight: 800;
    
}

#start nav.middle .content ul li:hover{
    background-color: transparent;
    opacity: 0.8;
}

#start nav.middle ul li .content .right .down{
    width:50%
}
#start nav.middle ul li .content .down ul{
    display: block;
   
    margin-top: 20px;
}
#start nav.middle ul li .content .down ul li{
    color:black;
    display: block;
    white-space: normal;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 10px;
    
}
#start nav.middle ul li .content  .border{
    border-bottom: 1px solid rgb(228, 220, 220) ;
    margin-top: 20px;
}
#start nav.middle ul li .content .down ul li h2{
    font-size: 16px;
    margin-bottom: 7px;
    font-weight: 600;
}
#start nav.middle ul li .content .down ul li p{
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

#start nav.middle ul li .content .left-2{
    display: block;
    width:65%;
}
#start nav.middle ul li .content .right-2{
    display: block;
    width:35%;
}
#start nav.middle ul li .content .up-2{
    display: flex;
   
}
#start nav.middle ul li .content .down-2{
    display: block;
   
}
#start nav.middle ul li .content .up-2 .image-2{
    width:25px;
    margin-right: 5px;
    padding: 5px;
}
#start nav.middle ul li .content .up-2 img{
    width: 100%;
    display: block;
}
#start nav.middle ul li .content span{
    font-size: 25px;
    font-weight: 800;
}

#start nav.middle ul li .content .left-2 .down-2{
    width:45%
}
#start nav.middle ul li .content .down-2 ul{
    display: block;
    margin-top: 20px;
}
#start nav.middle ul li .content .down-2 ul li{ 
    display: block;
    white-space: normal;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 20px;
}
#start nav.middle ul li .content  .border{
    border-bottom: 1px solid rgb(228, 220, 220) ;
    margin-top: 20px;
}

#start nav.middle ul li .content .down-2 ul li h2{
    font-size: 16px;
    margin-bottom: 7px;
    font-weight: 500;
    color: #000;
}
#start nav.middle ul li .content .down-2 ul li p{
    font-size: 15px;
    font-weight: 400;
    color: #000;
}
#start nav.middle .content ul li:hover{
    background-color: transparent;
    opacity: 0.8;
}
#start nav.middle ul li  #element3{
    width:500px
}
#start nav.middle ul li .content .up-3{
    display: flex;
   
}
#start nav.middle ul li .content .up-3 .image-3{
    width:25px;
    margin-right: 5px;
    padding: 5px;
}
#start nav.middle ul li .content .up-3 img{
    width: 100%;
    display: block;
}
#start nav.middle ul li .content span{
    font-size: 25px;
    font-weight: 800;
    
}
#start nav.middle ul li .content .down-3{
    display: block;
    margin-top: 20px;
}
#start nav.middle ul li .content  .border{
    border-bottom: 1px solid rgb(228, 220, 220) ;
    margin-top: 20px;
}
#start nav.middle ul li .content .down-3 h2{
    font-size: 16px;
    margin-bottom: 7px;
    font-weight: 600;
}
#start nav.middle ul li .content .down-3 p{
    font-size: 15px;
    font-weight: 400;
}

#start nav.middle ul li  #element3{
    width:500px
}
#start nav.middle ul li .content .up-4{
    display: flex;
   
}
#start nav.middle ul li .content .up-4 .image-4{
    width:25px;
    margin-right: 5px;
    padding: 5px;
}
#start nav.middle ul li .content .up-4 img{
    width: 100%;
    display: block;
}
#start nav.middle ul li .content span{
    font-size: 25px;
    font-weight: 800;
    
}
#start nav.middle ul li .content .down-4 ul{
    display: block;
    margin-top: 20px;
}
#start nav.middle ul li .content .down-4 ul li{
    color:black;
    display: block;
    white-space: normal;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 10px;
    
}
#start nav.middle ul li .content  .border{
    border-bottom: 1px solid rgb(228, 220, 220) ;
    margin-top: 20px;
}
#start nav.middle ul li .content .down-4 ul li h2{
    font-size: 16px;
    margin-bottom: 7px;
    font-weight: 600;
}
#start nav.middle ul li .content .down-4 ul li p{
    font-size: 15px;
    font-weight: 400;
}
#start nav.middle .content ul li:hover{
    background-color: transparent;
    opacity: 0.8;
}

#start nav.right{
   margin-left: 70px;
   display: flex;
   padding-bottom: 40px;
}
#start nav.right ul{
    display: flex;
    color:#ffffff
}
#start nav.right ul li{
    margin-right:20px;
    font-size: 16px;
    padding: 10px;
    display: flex;
    white-space: nowrap;
}
#start nav.right ul li:hover{
    cursor: pointer;
    background-color: rgb(68, 68, 68);
    border-radius: 20px;
}

#start nav.right ul li i{
    margin-right: 10px;
}

#start nav.right ul li:last-child{
    margin-right: 0px;
}
#start nav.right a{
    padding: 10px 12px;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    margin-right:10px
}
#start nav.right a i{
    margin-right: 5px;
}
#start nav.right a.btn{
    padding-bottom: 10px;
}
#start nav.right ul .btn:hover{
    cursor: pointer;
}
#spotlight{
    background-color:#ebeef6;
}
#spotlight .content{
    padding: 100px 0 60px 50px
}
#spotlight .content h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 0 300px;
    color:rgb(53, 52, 52)
}
   
    
#spotlight .content .elements{
    display: flex;
    gap:10%;
}
#spotlight .elements .image{
    width:40%;
    margin-bottom: 20px;
}
#spotlight .elements image img{
    width:100%;
    display: block;
}
#spotlight .elements h3{
    font-size:18px;
    font-weight: 500;
}
#spotlight .elements ul{
    padding:20px 0 50px 50px
    
}
#spotlight .elements ul li{
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
}
#spotlight a{
    color:#ffffff;
    background-color: black;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    padding:20px 20px;
    
}
#spotlight a:hover{
    cursor: pointer;
    opacity:0.8;
    transition: 0.1s;
}
#second{
    background-color: rgb(249,250,251);
}
#second .content{
    padding:100px 0 90px 50px;
}
#second .content h2{
    font-size: 35px;
    font-weight: 900;
    color:rgb(26, 25, 25);
    margin-bottom: 30px;
}
#second .content p{
    font-size: 18px;
    color:rgb(72, 71, 71);
    width:60%;
    line-height: 1.5em;
}
#second .element{
    padding-top:50px;
    display: flex;
}

#second .element-cntnt .icon{
    width:5%;
    margin-bottom: 30px;
}
#second .element-cntnt .icon img{
    width:100%;
    display: block;
}
#second .element-cntnt h4{
    font-size: 18px;
    margin-bottom: 20px;
}
#second .element-cntnt p{
    font-size: 16px;
    width: 85%;
    color:rgb(42,40,40);
}
#second .element-cntnt .button{
    padding-top:50px;
    
}
#second .element-cntnt .button a{
    color:rgb(42, 40, 40);
    font-size: 16px;
    border-bottom: 1px solid gray;
}

#third{
    background-color: black;
}
#third .content{
    padding:100px 0 0 50px;
}
#third .content a.head{
    font-size: 40px;
    color:#ffffff;
    cursor: pointer;
    
}
#third .content .element{
    width:10%;
    height:70px;
    margin-top: 50px;
    margin-bottom: 30px;
}
#third .content .element a{
    font-size: 16px;
    font-weight: 400;
    color:#ffffff;
}
#third .content .element:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
}
#third .content .terms{
    display: flex;
    color:#ffffff;
    column-gap: 13%;
}
#third .content .terms ul{
    line-height: 2.5em;

}
#third .content .terms ul li{
    font-size: 16px;
    font-weight: 400;
}
#third .content .terms ul li.main{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
#third .content .terms ul li:hover{
    cursor: pointer;
    color:gray
}
#third .content .details{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

#third .content .social i{
    color:#ffffff;  
    font-size: 18px;
    margin-right: 50px;  
    padding: 20px; 
}
#third .content .social i:first-child{
    margin-left:-20px ;
}
#third .content .social i:hover{
    cursor:pointer;
    border-radius: 5px;
    background-color: rgb(68, 68, 68);
    
}
#third .content .contact{
    color:#ffffff;
}
#third .content .contact i{
    color:#ffffff;
    font-size: 16px;
    margin-right:50px ;
    padding: 10px;
}
#third .content .contact i:hover{
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(68, 68, 68);
}
#third .content .contact span{
    margin-left: 10px;
}
#third .icon{
    background-color: black;
    width:10%;
    display: flex;
    padding-top: 50px;
    gap:15px
}
#third .icon:hover{
    cursor: pointer;
}
#third .icon img{
    width:100%;
    display: block;
}
#third footer{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
#third footer .left i{
    color:gray;
    font-size: 15px;
}
#third footer .left{
    font-size: 16px;
    color:gray;
}
#third footer .right{
    font-size: 16px;
    color:gray;
   
}
#third footer .right ul{
    display: flex;
    gap:20px
}





